@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

#tweet {
  resize: none !important;
  height: 85px !important;
  border: none !important;
  width: calc(100% - 115px);
  position: absolute;
  top: 10px;
  left: 105px;
  margin: auto;
}

#profile-picture,
.other-profiles {
  border-radius: 50%;
  margin: 10px;
  height: 85px;
  width: 85px;
}

#header {
  border-bottom: 8px solid white;
  background-color: #30353b;
}

#send-tweet {
  border-radius: 75px;
  color: white;
  margin: 5px 0px 15px 105px;
}

#loading-spinner {
  display: none;
  margin-left: 5px;
}

#error-message {
  color: red;
  font-size: 0.8rem;
  margin-left: 105px;
  margin-bottom: 15px;
}

#curse-word {
  color: red !important;
}

#scroll-up {
  position: absolute;
  right: 5px;
}

#total-tweets {
  color: white;
  border-bottom: 1px solid white;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.tweet-profile-wrapper {
  float: left;
}

.single-tweet-wrapper {
  padding: 10px;
  word-wrap: break-word;
  border-bottom: 1px solid white;
}

.created-date {
  color: rgb(3, 154, 3);
}

.email,
.name {
  color: rgb(233, 163, 32);
}

.tweet-content {
  margin-top: 10px;
  color: white;
}

.tweet-footer {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.tweet-btn-wrapper {
  display: inline-block;
  margin: 0px 6% 0px 6%;
}

.tweet-btn-wrapper button {
  background-color: transparent;
  border: none !important;
  outline: none !important;
}

.tweet-btn-wrapper button i {
  outline: none !important;
  color: white !important;
  background: transparent !important;
}
