<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/login-register.css" />
    <script src="/js/registerValidation.js" defer></script>
    <script src="/js/browserStorage/emailHandler.js" defer></script>
    <%- include("./includes/bootstrap.ejs") %>
    <%- include("./includes/font-awesome.ejs") %>
</head>
  <body>
    <% if (!idSubmitted && !idSent && !informationPresent) { %>
      <form id="register-form" onsubmit="event.preventDefault();" action="/register/?sendConfEmail=yes" method="POST">
    <% } else if (idSent && !informationPresent){ %>
      <form id="register-form" onsubmit="showLoadingSpinner()" action="/register/?idSubmitted=yes" method="POST">
    <% } else { %>
      <form id="register-form" onsubmit="showCreatingAccountSpinner(); event.preventDefault()" action="/register/?informationFilled=yes" method="POST">
    <% } %>
        <div id="logo-wrapper">
          <span>Chat live today!</span>
          <a href="https://nhsforeignaffairs.herokuapp.com" target="_blank">
            <img src="/images/registerPage/logo.png" width="75" height="75">
          </a>
        </div>
          <div class="form-group">
            <input type="email" class="form-control field" name="email" placeholder="Email" id="email" value="<%= emailVal %>" required>
            <small class="error-message" id="email-error">Must have a GNPS email address.</small>
              <% if (emailInUse) { %>
                <small class="error-message" id="email-in-use">Email in use.</small>
              <% } %>
          </div>
          <% if (idSubmitted || informationPresent) { %>
            <div class="form-group">
              <input type="text" class="form-control field" name="firstName" id="firstName" placeholder="First Name" required>
              <small class="error-message" id="firstName-error">Enter your real first name.</small>
            </div>
            <div class="form-group">
              <input type="text" class="form-control field"name="lastName" id="lastName" placeholder="Last Name" required>
              <small class="error-message" id="lastName-error">Enter your real last name.</small>
            </div>
            <div class="form-group">
              <input type="password" class="form-control field" name="password" id="password" placeholder="Password" required>
              <small class="error-message" id="password-error"></small>
            </div>
            <div class="form-group">
              <input type="password" class="form-control field" name="passwordConf" id="passwordConf" placeholder="Confirm Password" required>
              <small class="error-message" id="password-error"></small>
            </div>
            <div class="form-check" id="privacy-policy-wrapper">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" required="">
              <label class="form-check-label" for="exampleCheck1" id="privacy-policy">I have read and agree to the <a href="/privacy-policy" target="_blank">privacy policy</a></label>
            </div>
          <% } %>
        <% if (!idSubmitted || idSent || invalidId) { %>
            <% if (idSent || invalidId) { %>
              <div class="alert alert-success" id="code-sent" role="alert">
                A 6-digit id has been sent to your email; paste it below to verify your information.
              </div>
              <div class="form-group">
                <input type="password" class="form-control field" placeholder="123456" required>
              </div>
              <% if (invalidId) { %>
                <small class="error-message" id="id-error">Incorrect code.</small>
              <% } %>
              <div class="register-btn-wrapper">
                <button class="btn btn-primary" id="register-btn" type="submit">Submit Id</button>
                <div class="spinner-border text-primary" id="loading-spinner" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            <% } else if (!idSubmitted && !idSent && !informationPresent) { %>
                <div class="register-btn-wrapper">
                  <button class="btn btn-primary" id="register-btn-email-auth" type="submit">Confirm Email</button>
                  <div class="spinner-border text-primary" id="loading-spinner" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
                <p id="link-to-login">Already have an account? Click <a href="/login">Here</a> to login.</p>
              <% } else { %>
                <% if (serverError) { %>
                  <small class="error-message" id="id-error">Oops! Something went wrong, please try again later. Try <a href=/register>registering</a> again?</small>
                <% } %>
                <% if (accountCreated) { %>
                  <div class="alert alert-success" id="account-created" role="alert">
                    Account successfully created! Click <a href="/login">Here</a> to login.
                  </div>
                <% } else { %>
                  <div class="register-btn-wrapper">
                    <button class="btn btn-primary create-account" id="register-btn" type="submit">Finish Creating Account</button>
                    <div class="spinner-border text-primary" id="creating-account-spinner" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
                  <% } %>
              <% } %>
          <% } %>
      </form>
  </body>
</html>