@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  height: 100%;
}

body {
  background-image: linear-gradient(
    to bottom right,
    rgba(12, 206, 206, 0.85),
    rgba(133, 10, 204, 0.85)
  );
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

#register-form,
#login-form {
  box-shadow: 1px 1px 5px rgba(32, 32, 32, 0.87);
  transform: translate(-50%, -50%);
  padding: 2rem 0px 2rem 0px;
  background-color: white;
  border-radius: 0.25rem;
  position: fixed;
  width: 80%;
  left: 50%;
  top: 50%;
}

#logo-wrapper {
  text-align: center;
  margin-bottom: 2rem;
  text-align: left;
}

#logo-wrapper span {
  margin: 0px 1rem 0px 10%;
  font-size: 1.2rem;
}

.field {
  background-color: rgba(238, 233, 233, 0.493) !important;
  border-radius: 0px !important;
  font-size: 0.8rem !important;
  width: 80% !important;
  margin: auto;
}

#register-btn,
#login-btn {
  font-size: 0.8rem !important;
  cursor: pointer;
}

.error-message {
  color: maroon;
  font-size: 0.7rem;
  margin-left: 10%;
}

.register-btn-wrapper {
  height: fit-content;
  position: relative;
  margin-left: 10%;
  width: 80%;
}

#loading-spinner,
#creating-account-spinner {
  position: absolute;
  margin-left: 5px;
  display: none;
}

#email-error,
#firstName-error,
#lastName-error,
#password-error,
#digit-error {
  display: none;
}

#account-created,
#code-sent {
  margin: auto;
  font-size: 0.8rem;
  width: 80%;
}

#code-sent {
  margin-bottom: 5px;
}

#account-created a,
#link-to-login a,
#link-to-register a {
  text-decoration: underline;
}

#link-to-login,
#link-to-register {
  margin: 2rem 0px 0px 10%;
}
