<link rel="stylesheet" href="/css/chat/modals/settings.css" />
<script src="/js/chat/modals/settings.js" defer></script>
<div id="settings-modal">
    <div id="modal-content">
        <h1>hi there</h1>
    </div>
</div>