#settings-modal {
  display: none;
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.892), rgba(0, 0, 0, 0.934));
  background-size: cover;
  background-position: center;
  height: 1583px;
  top: 0;
  width: 100%;
  z-index: 1;
  background-attachment: fixed;
}

#modal-content {
  z-index: 2;
  animation: 1.5s scroll-up-modal-content;
}

#main-settings-nav {
  text-align: center !important;
  width: fit-content;
  margin: 10% auto 0px auto !important;
  border-bottom: none !important;
}

#close-modal i {
  color: maroon;
}

#active-content {
  width: 70%;
  margin: auto;
  border-top: none;
  border: 1px solid white;
  height: 450px;
}

#admin,
#security {
  display: none;
  animation: 1s scroll-up-modal-item;
}

#admin-secret,
#security-suggestion {
  width: 60% !important;
  border-radius: 0px !important;
  border: none !important;
  margin: 5% auto 0px auto !important;
}

#loading-spinner {
  display: none;
}

#admin-list,
#security-items {
  text-align: center;
  width: 100%;
  padding: 0px;
}

#profile-picture {
  border-radius: 50%;
  margin: 10px;
  margin-top: 0px;
  height: 85px;
  width: 85px;
}

#admin-list-wrapper,
#security-items-wrapper {
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 40px;
  word-wrap: break-word;
}

.replace-password {
  border-radius: 0px !important;
  border: none !important;
  margin: 5px;
}

#change-password-form {
  display: none;
}

#edit-password {
  margin-top: 5px;
  margin-right: 3px;
  cursor: pointer;
}

.admin-list__item {
  color: white;
  list-style: none;
}

.security-item span {
  color: rgb(17, 152, 17) !important;
}

#submit-secret,
#submit-password,
#go-back,
#submit-security-question {
  margin-left: 20%;
  margin-top: 10px;
  border-radius: 0px !important;
}

#submit-password,
#go-back {
  width: 100%;
  margin-left: 0px;
}

#go-back i {
  margin-right: 3px;
}

.active-link {
  border: 1px solid white !important;
  border-bottom: none !important;
}

.active-link:hover {
  border-bottom: none !important;
}

.nav-link {
  color: white !important;
  cursor: pointer;
}

.fas {
  margin-left: 5px;
}

.security-item {
  color: white;
  font-weight: bold;
  text-align: left;
  margin: 0px !important;
  width: 100%;
  word-wrap: break-word;
  list-style: none;
}

.security-item span {
  font-weight: normal;
}

@keyframes scroll-up-modal-content {
  from {
    margin-top: 80%;
  }

  to {
    margin-top: 0px;
  }
}

@keyframes scroll-up-modal-item {
  from {
    margin-top: 80%;
  }

  to {
    margin-top: 0px;
  }
}
