#settings-modal {
  display: none;
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.892), rgba(0, 0, 0, 0.934));
  background-size: cover;
  background-position: center;
  height: 1583px;
  top: 0;
  cursor: pointer;
  width: 100%;
  z-index: 1;
  background-attachment: fixed;
}

#modal-content {
  z-index: 2;
  animation: 1.5s scroll-up-modal-content;
}

#main-settings-nav {
  text-align: center !important;
  width: fit-content;
  margin: 10% auto 0px auto !important;
  border-bottom: none !important;
}

#close-modal i {
  color: maroon;
}

#active-content {
  width: 70%;
  margin: auto;
  border-top: none;
  border: 1px solid white;
  height: 450px;
}

#admin {
  display: none;
  animation: 1.5s scroll-up-admin;
}

#admin-secret {
  width: 60% !important;
  border-radius: 0px !important;
  border: none !important;
  margin: 5% auto 0px auto !important;
}

#admin-list {
  text-align: center;
  width: 100%;
  padding: 0px;
}

#admin-list-wrapper {
  text-align: left;
  margin-left: 20%;
  margin-top: 70px;
  width: fit-content;
}

.admin-list__item {
  color: white;
  list-style: none;
}

#submit-secret {
  margin-left: 20%;
  margin-top: 10px;
  border-radius: 0px !important;
}

.active-link {
  border: 1px solid white !important;
}

.nav-link {
  color: white !important;
}

.fas {
  margin-left: 5px;
}

@keyframes scroll-up-modal-content {
  from {
    margin-top: 80%;
  }

  to {
    margin-top: 0px;
  }
}

@keyframes scroll-up-admin {
  from {
    margin-top: 80%;
  }

  to {
    margin-top: 0px;
  }
}
