#settings-modal {
  display: none;
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.89));
  background-size: cover;
  background-position: center;
  height: 1583px;
  top: 0;
  cursor: pointer;
  width: 100%;
  z-index: 1;
  background-attachment: fixed;
}

#modal-content {
  z-index: 2;
  border: 2px solid red;
}
